@charset "UTF-8";
// ===============================================================
/* HEADER */
// ===============================================================
header {
	width:100%;
	border-bottom:3px solid $blue-d;
	background-color:$blue-r;
	position:fixed;
	top:0;
	left:0;
	z-index:5;
}

