@charset "UTF-8";
// ===============================================================
/* PRICE */
// ===============================================================
.price{
	font-size: 16px;
	text-align:center;
	&>div{
		display:table;
		margin:0 auto;
		div{
			display:table-cell;
			font-family: $proximanova-light;
			vertical-align:top;
		}
	}

	.moeda{
		@include font-responsive(45);
		text-align: right;
	}
	.valor{
		@include font-responsive(100);
		line-height: 74px;
		strong{
			font-family: $proximanova-bold;
		}
	}
	.centavos{
		@include font-responsive(45);
		text-align: left;
		small{
			display: block;
			@include font-responsive(12);
		}
	}
}