@charset 'UTF-8';
// Default Variables

// $slick-font-path: "./fonts/" !default;
// $slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: #fff !default;
$slick-dot-color: #d1d1d1 !default;
$slick-dot-color-active: #fff !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 36px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;


@function slick-image-url($url) {
	@if function-exists(image-url) {
		@return image-url($url, false, false);
	}
	@else  {
		@return url($slick-loader-path + $url);
	}
}

// @function slick-font-url($url) {
// 	@if function-exists(font-url) {
// 		@return font-url($url);
// 	}
// 	@else  {
// 		@return url($slick-font-path + $url);
// 	}
// }

/* Slider */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin:0;
	padding:0;

	&:focus {
		outline: none;
	}

	// .slick-loading & {
	// 	background: #fff slick-image-url("../img/loader.gif") center center no-repeat;
	// }

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}
}
.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;

	&:before, &:after {content:"";display:table;}

	&:after {clear: both;}

	.slick-loading & {visibility: hidden;}
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	[dir="rtl"] & {float: right;}
	img {display: block;}
	&.slick-loading img {
		display: none;
	}

	display: none;

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		display: block;
		height: auto;
		border: 1px solid transparent;
	}
}

/* ARROWS */
.slick-prev, .slick-next {
	position: absolute;
	border-radius: 50%;
	display: block;
	height: 54px;
	width: 44px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background:$yellow-r 50% 50% no-repeat;
	color: transparent;
	top: 50%;
	margin-top: -27px;
	padding: 0;
	border: none;
	outline: none;
	&:hover, &:focus {
		outline: none;
		// background: transparent;
		color: transparent;
		&:before {
			opacity: $slick-opacity-on-hover;
		}
	}
	&.slick-disabled:before {
		opacity: $slick-opacity-not-active;
	}
}
.slick-prev:before, .slick-next:before {
	display:none;
	// font-family: $slick-font-family;
	font-size: 20px;
	line-height: 1;
	color: $slick-arrow-color;
	opacity: $slick-opacity-default;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev {
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAdCAMAAABCFsboAAAAe1BMVEUcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2CdH7bsAAAAKXRSTlMAKy0vMDEyMzQ2ODk6Ozw9PkBERkdIS01PUVNUVVdZXF+u2ebn6Onq628Pes4AAABzSURBVHheZdFHFsMgDEVRXNIbDk7cW+Ig9r/CTJ8MsysOIH2MWs9F0YklS3mQL7mT73AjK7mQtZzIxh/Jzh/I3u/J4ZeT45qR05qS8zchzaeluM/z0f36/R3J/th/NJ+e/6wLlVxJ5sd8df5WF1wotv/3BzGfB/OwSTd4AAAAAElFTkSuQmCC');
	left: 0;
	[dir="rtl"] & {
		left:  auto;
		right: 0;
	}
	&:before {
		content: $slick-prev-character;
		[dir="rtl"] & {
			content: $slick-next-character;
		}
	}
}
.slick-next {
	background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAdCAMAAABCFsboAAAAe1BMVEUcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2AcM2CdH7bsAAAAKXRSTlMA6unn60auR1dIO0RLPk3oTzTmUTNUMlVfLVwvPFkrPTY5MFPZMTg6QF1fEhMAAABuSURBVHhefdFHFsMgDEVRC7CNneDend73v8KMnwYwvBzpSF9JdkjwgqSEq+SEkxSE0h0Jd6kIN2kIrekJgxkJk5kJj9oTdnsmrHYjXLqF8HzF/lmv+79rr+fj/JH9Ptz/y3yYn843MP+fw330/f6PNwUfBfLejwAAAABJRU5ErkJggg==');
	right: 0;
	[dir="rtl"] & {
		left: 0;
		right: auto;
	}
	&:before {
		content: $slick-next-character;
		[dir="rtl"] & {
			content: $slick-prev-character;
		}
	}
}

/* DOTS */
.slick-dots {
	// position: absolute;
	// bottom: 0;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	width: 100%;

	li {
		position: relative;
		display: inline-block;
		// height: 10px;
		// width: 10px;
		margin: 0 4px;
		padding: 0;
		cursor: pointer;

		&.slick-active button{
			background-color: $yellow-r;
			// border: 0;
			opacity: $slick-opacity-default;
		}
	}
	button {
		border: 2px solid $yellow-r;
		border-radius: 50%;
		background: transparent;
		display: block;
		height: 10px;
		width: 10px;
		outline: none;
		line-height: 0;
		font-size: 0;
		color: transparent;
		padding: 5px;
		cursor: pointer;
		&:hover, &:focus {
			outline: none;
			&:before {
				//opacity: $slick-opacity-on-hover;
			}
		}

		// &:before {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	content: $slick-dot-character;
		// 	width: 10px;
		// 	height: 10px;
		// 	// font-family: $slick-font-family;
		// 	font-size: $slick-dot-size;
		// 	line-height: 10px;
		// 	text-align: center;
		// 	color: transparent;
		// 	//opacity: $slick-opacity-not-active;
		// 	-webkit-font-smoothing: antialiased;
		// 	-moz-osx-font-smoothing: grayscale;
		// }
	}


	/* DOTS NUMBER (3/3) */
	&.custom-dots{
		li{
			display: none;
			width: auto;
			height: auto;
			margin: 0;
			&.slick-active{
				display: block;
			}
		}
	}
}