@charset 'UTF-8';

@mixin simpleGradient($from-color, $to-color) {
	-ms-filter: 'progid: DXImageTransform.Microsoft.gradient(startColorStr='#{$from-color}', EndColorStr='#{$to-color}')';
	background:         linear-gradient(to bottom, $from-color 0%, $to-color 100%);
	background-color: mix($from-color, $to-color); /* Fallback */
}