@charset 'UTF-8';

@keyframes rotate {
	0% {
		transform-origin: center;
		transform: rotate(-360deg);
	}

	100% {
		transform-origin: center;
		transform: rotate(0);
	}
}

@mixin spinner(
	$color: #ff0000,
	$diameter: 25px,
	$stroke: 2px,
	$background-color: #eee,
	$sides: 2
) {
	animation: rotate .7s linear infinite;
	border: $stroke solid $background-color;
	border-radius: 100%;
	border-top-color: $color;
	display: inline-block;
	font-size: $diameter;
	height: 1em;
	left: 50%;
	margin-top: $diameter/2*-1;
	margin-left: $diameter/2*-1;
	padding-top: ($diameter/2);
	position: absolute;
	top: 50%;
	width: 1em!important;
	@if $sides >= 2 {
		border-right-color: $color;
	}
	@if $sides >= 3 {
		border-bottom-color: $color;
	}
}